body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    flex: 1;
    align-self: center;
}


/**************** grid css  *****************/
.gridContainer {
    align-self: center;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid red;
    height: 575px;
    width: 575px;
}

.square {
    
    border: 1px solid black;
}


/**************** grid css  *****************/

.java-btns {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 30px;
}

#grid-size {
    margin: 10px;
}

#reset {
    margin: 10px;
}

#random-color {
    margin: 10px;
}

#black {
    margin: 10px;
}